<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>type</key>
        <string>locations</string>
        <key>reference</key>
        <string>bushcamp</string>
        <key>maphome</key>
        <dict>
            <key>latitude</key>
            <real>52.540345</real>
            <key>longitude</key>
            <real>5.473097</real>
        </dict>
        <key>locations</key>
        <dict>
            <key>start</key>
            <dict>
                <key>name</key>
                <string>Start</string>
                <key>latitude</key>
                <real>52.540345</real>
                <key>longitude</key>
                <real>5.473097</real>
            </dict>
            <key>boom</key>
            <dict>
                <key>name</key>
                <string>Boom</string>
                <key>latitude</key>
                <real>52.541613</real>
                <key>longitude</key>
                <real>5.47564</real>
            </dict>
            <key>houthakkershut</key>
            <dict>
                <key>name</key>
                <string>Houthakkershut</string>
                <key>latitude</key>
                <real>52.541771</real>
                <key>longitude</key>
                <real>5.472755</real>
            </dict>
            <key>koopman</key>
            <dict>
                <key>name</key>
                <string>Koopman</string>
                <key>latitude</key>
                <real>52.541044</real>
                <key>longitude</key>
                <real>5.474834</real>
            </dict>
            <key>rivier</key>
            <dict>
                <key>name</key>
                <string>Rivier</string>
                <key>latitude</key>
                <real>52.538169</real>
                <key>longitude</key>
                <real>5.47696</real>
            </dict>
            <key>kloofrand</key>
            <dict>
                <key>name</key>
                <string>Kloofrand</string>
                <key>latitude</key>
                <real>52.539395</real>
                <key>longitude</key>
                <real>5.476553</real>
            </dict>
            <key>kloofbodem</key>
            <dict>
                <key>name</key>
                <string>Kloofbodem</string>
                <key>latitude</key>
                <real>52.539469</real>
                <key>longitude</key>
                <real>5.478212</real>
            </dict>
            <key>moeras</key>
            <dict>
                <key>name</key>
                <string>Moeras</string>
                <key>latitude</key>
                <real>52.542022</real>
                <key>longitude</key>
                <real>5.477842</real>
            </dict>
            <key>berg</key>
            <dict>
                <key>name</key>
                <string>Berg</string>
                <key>latitude</key>
                <real>52.541127</real>
                <key>longitude</key>
                <real>5.472728</real>
            </dict>
        </dict>
    </dict>
</plist>
