<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>type</key>
        <string>locations</string>
        <key>reference</key>
        <string>strocamp</string>
        <key>maphome</key>
        <dict>
            <key>latitude</key>
            <real>52.03428</real>
            <key>longitude</key>
            <real>5.151333</real>
        </dict>
        <key>locations</key>
        <dict>
            <key>start</key>
            <dict>
                <key>name</key>
                <string>Start</string>
                <key>latitude</key>
                <real>52.03428</real>
                <key>longitude</key>
                <real>5.151333</real>
            </dict>
            <key>boom</key>
            <dict>
                <key>name</key>
                <string>Boom</string>
                <key>latitude</key>
                <real>52.034017</real>
                <key>longitude</key>
                <real>5.15046</real>
            </dict>
            <key>houthakkershut</key>
            <dict>
                <key>name</key>
                <string>Houthakkershut</string>
                <key>latitude</key>
                <real>52.033655</real>
                <key>longitude</key>
                <real>5.150145</real>
            </dict>
            <key>koopman</key>
            <dict>
                <key>name</key>
                <string>Koopman</string>
                <key>latitude</key>
                <real>52.032535</real>
                <key>longitude</key>
                <real>5.150588</real>
            </dict>
            <key>rivier</key>
            <dict>
                <key>name</key>
                <string>Rivier</string>
                <key>latitude</key>
                <real>52.03249</real>
                <key>longitude</key>
                <real>5.149937</real>
            </dict>
            <key>kloofrand</key>
            <dict>
                <key>name</key>
                <string>Kloofrand</string>
                <key>latitude</key>
                <real>52.03273</real>
                <key>longitude</key>
                <real>5.14927</real>
            </dict>
            <key>kloofbodem</key>
            <dict>
                <key>name</key>
                <string>Kloofbodem</string>
                <key>latitude</key>
                <real>52.03321</real>
                <key>longitude</key>
                <real>5.149109</real>
            </dict>
            <key>moeras</key>
            <dict>
                <key>name</key>
                <string>Moeras</string>
                <key>latitude</key>
                <real>52.033866</real>
                <key>longitude</key>
                <real>5.148644</real>
            </dict>
            <key>berg</key>
            <dict>
                <key>name</key>
                <string>Berg</string>
                <key>latitude</key>
                <real>52.03387</real>
                <key>longitude</key>
                <real>5.149835</real>
            </dict>
        </dict>
    </dict>
</plist>
